@import './button';
@import './media-queryes';
@import './variables';
@import './mixin';
@import './reset';

body {
    height: 100%;
    background-color: $gray;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 16px;
}

button {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}