@import '@/styles/variables';
@import '@/styles/media-queryes';
@import '@/styles/mixin';

.container {
    width: 100%;

    &.margin {
        margin-bottom: res(16, 20);
    }
}

.comment {
    display: flex;
    padding: 24px;
    gap: 24px;
    min-height: 167px;
    background-color: $white;
    border-radius: 8px;

    .commentVote {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-height: 100px;
        padding: 10px 5px;
        background-color: $gray;
        border-radius: 10px;

        svg {
            cursor: pointer;

            path {
                transition: $fast fill;
            }

            &:hover {
                path {
                    fill: $blue;
                }
            }
        }

        span {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.18;
            color: $blue;
        }
    }

    .commentWrapper {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

        textarea {
            width: 100%;
            min-height: 96px;
            padding: 12px 24px;
            resize: none;
            border: $lighter-gray 1px solid;
            border-radius: 8px;
    
            &:focus {
                outline: 1px solid $blue;
            }
        }
    }

    .commentHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .commentHeaderInfo{
        display: flex;
        align-items: center;
        gap: 16px;

        b {
            line-height: 1.18;
            color: $dark-blue;
        }

        span {
            color: $gray-blue;
        }

        strong {
            font-size: 13px;
            line-height: 1.15;
            font-weight: 500;
            background-color: $blue;
            padding: 1px 6px;
            color: $white;
            border-radius: 2px;
        }
    }

    .commentHeaderReply {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;

        span {
            font-weight: 500;
            color: $blue;
        }
    }

    .commentHeaderActions {
        display: flex;
        gap: 24px;

        button {
            display: flex;
            align-items: center;
            gap: 8px;

            &:first-child {
                color: $red;
            }

            &:last-child {
                color: $blue;
            }
        }
    }

    .commentText {
        color: $gray-blue;
    }

    .mobileActions {
        display: none;
    }

    @include mobile {
        .commentVoteDesktop, .commentHeaderReplyDesktop, .commentHeaderActionsDesktop {
            display: none;
        }

        .mobileActions {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .commentVote {
                flex-direction: row;
                padding: 10px 15px;
            }
        }
    }
}