@import '@/styles/variables';
@import '@/styles/mixin';
@import '@/styles/media-queryes';

.form {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 16px;
    padding: res(16, 24);
    margin-top: res(16, 20);
    background-color: $white;
    border-radius: 8px;

    img {
        min-width: 40px;
    }

    textarea {
        width: 100%;
        min-height: 96px;
        padding: 12px 24px;
        resize: none;
        border: $lighter-gray 1px solid;
        border-radius: 8px;

        &:focus {
            outline: 1px solid $blue;
        }
    }

    button {
        min-width: 104px;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;

        textarea {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
        }

        img {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
        }

        button {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
        }
    }
}